/* POLICE
UTILISER UNE POLICE PERSONNALISEE

-> Télécharger la police
-> Utiliser des services propres à cette fonction: google font
*/
@font-face {
    font-family: 'theblacklist';
    src: url('../src/theblacklist.ttf') format('truetype');
}

/*
CECI EST UN COMMENTAIRE
*/

#logo {
    color: blue;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: bisque;
    font-family: 'theblacklist', Arial, sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

.bienvenue {
    color: red;
}

a {
    color: bisque;
    font-family: 'Roboto', sans-serif;
}

p a {
    color: blue;
}