/*
CECI EST UN COMMENTAIRE 
*/

#logo {
color: blue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
}

.bienvenue {
    color: red;
}

h1, a {
    color:bisque
}

p a {
    color: blue;
}